/* google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.roboto-font {
    font-family: "Roboto", sans-serif;
}
.bebas-neue-font {
    font-family: "Bebas Neue", sans-serif;
  }

/* css variable declaration */
:root{
    --primary-color: #363958;
}

/* universal style here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.link-style{
    text-decoration: none;
    color: white;
}
.d-flex{
    display: flex;
}
.primary-color{
    color: #3e3e3e;
}
.primary-btn{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #98b235;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
}
/* nav section styles start here */
header{
    background-color: #fffbf0;
}
.navbar{
   justify-content: space-between;
   padding: 20px 80px;
   align-items: center;
}
.nav-brand{
    max-width: 290px;
}
.nav-brand img{
    width: 100%;
}
.navbar-nav{
    list-style: none;
    gap: 30px;
}
.nav-item{
    font-weight: 700;
}
.nav-link{
    text-decoration: none;
    color: #3c3c3c;
}
.nav-menu-icon{
    display: none;
}
/* hero image section styles start here */
.hero-section{
    margin: 30px 80px;
    padding-bottom: 60px;
    justify-content: space-between;
    align-items: center;
}
.hero-content{
    max-width: 420px;
}
.hero-content .title{
    font-size: 70px;
    font-weight: 500;
    color: var(--primary-color);
}
.hero-content span{
    color: #fabe4c;
}
.hero-image{
    max-width: 440px;
}
.hero-image img{
    width: 100%;
}
.hero-btn{
    font-size: 18px;
    margin: 20px 0px;
}
.hero-btn i{
    color: white;
    font-size: 18px;
    padding-right: 5px;
}
/* woman section styles start here */
.woman-section{
    margin: 40px 80px;
}
.product-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--primary-color);
}
.product-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.product-card{
    max-width: 350px;
    box-shadow: 2px 4px 20px rgba(226, 223, 223,0.8);
    padding: 20px 30px;
    border-radius: 10px;
}
.card-image{
    max-width: 290px;
    height: 290px;
    background-color: #f1f1f1;
    padding: 20px 30px;
    border-radius: 10px;
}
.card-content{
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-image img{
    width: 100%;
    height: 100%;
}
.card-price{
    justify-content: space-between;
    align-items: center;
}
.card-price h3{
    font-size: 36px;
    font-weight: 600;
    color: #fabe4c;
}
.card-price i{
    color: white;
    padding-right: 5px;
}
/* man section styles start here */
.man-section{
    margin: 60px 80px;
}

/* responsive design for mobile device */
@media screen and (max-width:576px) {
 
/* nav section styles start here */
.navbar{
   padding: 20px;
}
.navbar-nav{
    display: none;
}
.nav-menu-icon{
    display: block;
    font-size: 32px;
}
/* hero image section styles start here */
.hero-section{
    margin:40px 20px;
    padding-bottom: 50px;
    align-items: center;
    flex-direction: column;
}
/* woman section styles start here */
.woman-section{
    margin: 30px 20px;
}
.product-card-container{
    grid-template-columns: repeat(1,1fr);
}
.product-title{
    text-align: center;
}
.product-card{
    margin: 0 auto;
}
/* man section styles start here */
.man-section{
    margin: 30px 20px;
}

}

    


/* responsive design for medium device */
@media screen and (min-width:577px) and (max-width:776px) {
 
/* nav section styles start here */
.navbar{
    padding: 40px;
}
.navbar-nav{
    display: none;
}
.nav-menu-icon{
    display: block;
    font-size: 32px;
}
/* hero image section styles start here */
.hero-section{
    margin:40px 50px;
    padding-bottom: 50px;
    align-items: center;
    flex-direction: column;
}
/* woman section styles start here */
.woman-section{
    margin: 30px 40px;
}
.product-card-container{
    grid-template-columns: repeat(1,1fr);
}
.product-title{
    text-align: center;
}
.product-card{
    margin: 0 auto;
    display: flex;
    max-width: 550px;
    gap: 30px;
}
.card-price{
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
/* man section styles start here */
.man-section{
    margin: 30px 40px;
}
        
}